#wrap #footer {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 27px 0px 37px;
  border-top: 1px solid rgb(229, 234, 234);
  background-color: rgb(255, 255, 255);
}
#wrap #footer .footer-container {
  width: 930px;
  margin: 0px auto;
}
#wrap #footer .footer-container .row1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(210, 215, 215);
}
#wrap #footer .footer-container .row1 .site-info .site-menu-info {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
#wrap #footer .footer-container .row1 .site-info .site-menu-info .menu-logo {
  display: flex;
  justify-content: space-between;
}
#wrap #footer .footer-container .row1 .site-info .site-menu-info .menu-logo a {
  color: rgb(23, 161, 255);
}
#wrap #footer .footer-container .row1 .site-info .site-menu-info .menu ul {
  display: flex;
  width: 100%;
}
#wrap #footer .footer-container .row1 .site-info .site-menu-info .menu ul li a {
  display: inline-block;
  color: rgb(26, 27, 28);
  transition: all 0.3s ease 0s;
  font-size: 14px;
  margin-left: 40px;
}
#wrap #footer .footer-container .row1 .site-info .site-menu-info .menu ul li a:hover {
  color: #17a1ff;
}
#wrap #footer .footer-container .row1 .site-info .site-cs-info {
  display: flex;
  justify-content: space-between;
  margin: 25px 0px 0px;
  position: relative;
  z-index: 1;
}
#wrap #footer .footer-container .row1 .site-info .site-cs-info .cs-info-list {
  position: relative;
}
#wrap #footer .footer-container .row1 .site-info .site-cs-info .cs-info-list li {
  display: flex;
  margin: 10px 0px 0px;
}
#wrap #footer .footer-container .row1 .site-info .site-cs-info .cs-info-list li .service-title {
  min-width: 82px;
  font-weight: 700;
  font-size: 14px;
}
#wrap #footer .footer-container .row1 .site-info .site-cs-info .cs-info-list li .service-detail-info {
  font-size: 12px;
  line-height: 21px;
  color: rgb(56, 64, 64);
}
#wrap #footer .footer-container .row1 .site-info .site-cs-info .cs-info-list li .service-detail-info a {
  display: inline-block;
  font-size: 12px;
  line-height: 21px;
  color: rgb(56, 64, 64);
}
#wrap #footer .footer-container .row1 .site-info .site-cs-info .cs-info-list li .service-detail-info a.page-link {
  margin: 0px 0px 0px 4px;
  font-weight: 700;
}
#wrap #footer .footer-container .row1 .site-info .site-cs-info .cs-info-list li .service-detail-info a:hover {
  color: #17a1ff;
}
#wrap #footer .footer-container .row1 .site-info .site-cs-info .cs-info-list li .service-detail-info b {
  display: inline-block;
  font-weight: 400;
}
#wrap #footer .footer-container .row2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 3;
}
#wrap #footer .footer-container .row2 .company-info p {
  font-size: 12px;
  line-height: 18px;
  color: rgb(171, 177, 177);
  word-break: keep-all;
}
#wrap #footer .footer-container .row2 a {
  flex-shrink: 0;
  font-size: 14px;
  line-height: 20px;
  color: rgb(171, 177, 177);
}